{
    "presets": ["es2015", "react", "stage-2"],
    "env": {
        "test": {
            "plugins": [
                ["babel-plugin-webpack-alias", { "config": "webpack.test.config.js" } ]
            ]
        }
    }
}
