
:local(.sidenav) {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

:local(.nav) {
    padding: 8px 16px;
    cursor: pointer;
    border-left: 4px solid transparent;
}
:local(.nav-item) {

}

:local(.nav-section) {
    font-weight: bold;
}
