

:local(.btn) {
    border: none;
    display: inline-block;
    padding: 6px 10px;
    letter-spacing: .5px;
    font-size: 1em;
    line-height: 1.6;
    white-space: nowrap;
    cursor: pointer;
}
